* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    scroll-padding-bottom: 16rem;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}