@import "fonts.css";
@import "resets.css";

:root {
    font-size: 16px;
    
    /* Farben */
    --title: #d6c197;
    --header-text:#565656;
    --card-bg: rgba(255, 255, 255, 0.8);
    --card-title: #B61E79;
    --card-text: #565656;
    --card-floating: rgba(255, 255, 255, 0.9);

    
    /*Schriften*/
    --f-title: 400 3rem 'Modak', sans-serif;
    --f-subtitle: 600 1.3rem 'Inter', sans-serif;
    --f-card-title: 400 2rem 'Modak', sans-serif;
    --f-card-lauftext: 400 1rem 'Inter', sans-serif;
    --f-card-lauftext-semibold: 600 1.1rem 'Inter', sans-serif;

    /*Schatten*/
    --shadow-card: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/*Header-Titel-Farbe je nach Hintergrund anpassen*/
    body[data-phase="day"] {--title: #1b57c0;}
    body[data-phase="golden-hour"] {--title: #2c60b9;}
    body[data-phase="sun-event"] {--title: #d6c197;}
    body[data-phase="blue-hour"] {--title: #DCB464;}
    body[data-phase="night"] {--title: #7ab4ee;}

    /*Header-Text-Farbe je nach Hintergrund anpassen */
    body[data-phase="day"] {--header-text: #565656;}
    body[data-phase="golden-hour"] {--header-text: #565656;}
    body[data-phase="sun-event"] {--header-text: #dfdada;}
    body[data-phase="blue-hour"] {--header-text: #dfdada;}
    body[data-phase="night"] {--header-text: #dfdada;}

    /*Shadow-card-floating je nach Hintergrund anpassen*/
    body[data-phase="day"] {--card-floating: rgba(247, 204, 62, 0.9);}
    body[data-phase="golden-hour"] {--card-floating: rgba(255, 255, 255, 0.9);}
    body[data-phase="sun-event"] {--card-floating: rgba(255, 255, 255, 0.9);}
    body[data-phase="blue-hour"] {--card-floating: rgba(245, 195, 32, 0.9);}
    body[data-phase="night"] {--card-floating: rgba(235, 231, 220, 0.9);}



header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    padding: 3rem;
    gap: 2rem;
    text-align: center;

    h1 {
    font: var(--f-title);
    color: var(--title);
    }

    p {
        font: var(--f-subtitle);
        color: var(--header-text);
    }
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;

    /*Backup-Hintergrund*/
    background: linear-gradient(160deg, #c969e0 0%, #f178a8 40%, #f9a86a 70%, #fcd34d 100%);

    /*Eigenschaften Hintergrundbild*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding-bottom: 9rem;
}

.cards-container {
    display: flex;
    align-items: center;
    gap: 5rem;
    min-height: 300px;
    justify-content: center;
    flex-wrap: wrap;
}

.city-card {
    background: var(--card-bg);
    padding: 1.5rem 1.25rem;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    box-shadow: var(--shadow-card);
    transition: transform 0.5s ease;

    h2 {
        font: var(--f-card-title);
        color: var(--card-title);
    }
}


.city-details {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    /* Ausgangszustand eingeklappt */
    max-height: 0;
    opacity: 0;
    margin-top: 0;
    overflow: hidden;

    transition: max-height 0.5s ease, opacity 0.5s ease, margin-top 0.5s ease;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* Ausgangszustand eingeklappt */
.event:not(.is-next) {
    max-height: 0;
    opacity: 0;
    margin-top: 0;
    padding-top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-top-width: 0;
    overflow: hidden;

    transition: max-height 0.5s ease, opacity 0.5s ease, margin-top 0.5s ease, padding-top 0.5s ease, border-top-width 0.5s ease;
}


/* Hovern - nur auf PC */
@media (hover: hover) {
    .city-card:hover:not(.open) .city-details {
        max-height: 500px;
        opacity: 1;
        margin-top: 1rem;
    }
}

/* Karte im geöffneten Zustand */
.city-card.open .city-details {
    max-height: 500px;
    opacity: 1;
    margin-top: 1rem;
}

.city-card.open .event:not(.is-next) {
    max-height: 300px;
    opacity: 1;
    margin-top: 1.25rem;
    padding-top: 1.25rem;
    border-top-width: 1px;
}

.weather-icon {
    width: 80px;
    height: 80px;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}

.weather-info, .sun-time {
   font: var(--f-card-lauftext);
   color: var(--card-text);
}

/* Ausgangszustand */
.weather-info {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

/* Aufgeklappt */
.city-card.open .weather-info {
    max-height: 100px;
    opacity: 1;
}


/* Nächstes Event oben anzeigen */
.is-next {
    order: -1;
}


/*Beste Card hervorheben*/
.city-card.best {
    box-shadow: var(--shadow-card), 0 0 30px 10px var(--card-floating);

    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {transform: translateY(0); }
    50% {transform: translateY(-15px); }
}

.city-card.best.open {
    animation: none;
}


/*Info-text unten*/
.info-text {
    position: fixed;
    bottom: 8rem;
    background: var(--card-bg);
    padding: 1.5rem 1.25rem;
    max-width: 800px;
    text-align: center;
    border-radius: 20px;
    box-shadow: var(--shadow-card);
    font: var(--f-card-lauftext-semibold);
    color: var(--card-text);
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    padding: 1.5rem;
    background: var(--card-bg);
    
    p {
        color: var(--card-text);
        font: var(--f-card-lauftext);
        padding: 0.5rem 1.5rem;
    }
}

/*Mobile*/
@media (max-width: 768px) {
    header {
        padding: 2rem 1rem;
    }

    .cards-container {
        gap: 2rem;
    }

    .info-text {
        max-width: 90%;
    }
}

@media (max-width: 640px) {

    :root{
        --f-title: 400 2.2rem 'Modak', sans-serif;
        --f-subtitle: 600 1rem 'Inter', sans-serif;
        --f-card-title: 400 1.6rem 'Modak', sans-serif;
        --f-card-lauftext-semibold: 600 0.8rem 'Inter', sans-serif;
    }

    html {
        scroll-padding-bottom: 10rem;
    }

    header {
        margin-top: 0.5rem;
        padding: 1rem 0.5rem;
        gap: 1rem;
    }

    main {
        justify-content: flex-start;
        gap: 2rem;
        padding-top: 3rem;
        padding-bottom: 7rem;
    }

    .cards-container {
        flex-direction: column;
        gap: 1.5rem;
        min-height: auto;
    }

    .weather-icon {
        margin-top: -0.5rem;
        margin-bottom: -1rem;
    }

    .info-text {
        bottom: 5rem;
        padding: 1rem 1.25rem;
        max-width: 90%;
        background: rgba(255, 255, 255, 1);
    }

    footer {
    margin-top: 3rem;
    padding: 0.5rem;
    }
}



