@import "fonts.css";
@import "resets.css";

:root {
    font-size: 16px;
    
    /* Farben */
    --title: #ceb685;
    --card-bg: #ffffff;
    --card-title: #B61E79;
    --card-text: #565656;

    
    /*Schriften*/
    --f-title: 400 1.5rem 'Modak', sans-serif;
    --f-card-title: 400 2rem 'Modak', sans-serif;
    --f-card-lauftext: 400 1rem 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    padding: 5rem;
    font: var(--f-title);
    color: var(--title);
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(160deg, #c969e0 0%, #f178a8 40%, #f9a86a 70%, #fcd34d 100%);
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-container {
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.city-card {
    background: var(--card-bg);
    padding: 1.5rem 1.25rem;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    h2 {
        font: var(--f-card-title);
        color: var(--card-title);
    }
}


.city-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    /* Ausgangszustand */
    max-height: 0;
    opacity: 0;
    margin-top: 0;
    overflow: hidden;

    transition: max-height 0.5s ease, opacity 0.5s ease, margin-top 0.5s ease;
}

/* Hovern */
.city-card:hover:not(.open) .city-details {
    max-height: 500px;
    opacity: 1;
    margin-top: 1rem;
}

.city-card.open .city-details {
    max-height: 500px;
    opacity: 1;
    margin-top: 1rem;
}

.weather-icon {
    width: 90px;
    height: 90px;
}

.weather-info, .sun-info {
   font: var(--f-card-lauftext);
   color: var(--card-text);
}

/* Ausgangszustand */
.weather-info {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.sun-info p:not(.is-next) {
    max-height: 0;
    opacity: 0;
    overflow: hidden;

    transition: max-height 0.5s ease, opacity 0.5s ease;
}

/* Aufgeklappt */
.city-card.open .weather-info {
    max-height: 100px;
    opacity: 1;
}

.city-card.open .sun-info p:not(.is-next) {
    max-height: 100px;
    opacity: 1;
}

.sun-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.is-next {
    order: -1;
}
